@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{margin: 0px;padding: 0px;font-family: 'Poppins', sans-serif;}
/* conmebol section */
#conmebol{background-color: #2D25A0;height: 591px; display: flex;justify-content: center;align-items: center;}
.conmebol-main-div{display: flex;justify-content: center;align-items: center;width: 870px;}
.article{width: 485px;color: #fff;}
.article h1{text-transform: capitalize;font-size: 51px;width: 100%;line-height: 70px;}
.article a{text-decoration: none;color: #fff;padding: 10px ;background-color: #E02C6D;text-transform: capitalize;}
.article a i{margin-left: 10px;}
.image{width: 556px;}
.image img{width: 90%;}